.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.hero h1 {
  color: var(--color-primary);
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}
