.search {
  background-color: white;
  padding: 14px 20px;
  border-color: black;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 2px solid black;
  width: 800px;
  box-sizing: border-box;
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
  width: 850px;
}

.searchButton {
  background-color: white;
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  border-color: black;
  border: 2px solid black;
  border-left: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}
